<!DOCTYPE html>
<html>
<head>
  <title>Helpoutapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Devise reccomended flash notices -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= link_to "Register New Employee", new_employee_path %>
  <%= link_to "Register New Boss", new_boss_path %>
  <%= link_to "New Boss Location", new_location_path %>
  <%= link_to "New Employee Location", new_locations2_path %>
<%= yield %>

</body>
</html>
